@page "/navigation"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Navigation</PageTitle>

<h1>Navigator</h1>

<NavigationButton Content="Navigate to Home" OnClick=""></NavigationButton>

@code 
{
    
}
