<button class="btn btn-primary" @onclick="Click">@Content</button>

@code
{
    [Parameter]
    public String? Content { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected async void Click() => await OnClick.InvokeAsync();
}
